target/
target.lib/
.idea/
*/src/test/resources/results/actual/
*.iml
lightning-jenkins.properties
junit.xml
generated.csv
*/pom.xml.releaseBackup
*/pom.xml.versionsBackup
release.properties
*/.gradle/
lightning-gradle-plugin/build/
lightning-gradle-plugin/out/
**/taskArtifacts.lock
*/gradle.properties-e
/lightning-aws-lambda/response.json
/lightning-aws-lambda/report-2.log
/lightning-aws-lambda/report-combined.log
/lightning-aws-lambda/report.log
/lightning-aws-lambda/report-1.log
/lightning-aws-lambda/large-volume-data-generator/*.csv
/lightning-gradle-plugin/src/integrationTest/resources/build/**/.gradle/
/lightning-aws-lambda/tf/.terraform/
/lightning-aws-lambda/tf/terraform.tf*
/lightning-aws-lambda/jenkins-lightning.properties